*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: rgb(14, 29, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card{
    position: relative;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}
img{
    height: 100%;
}

.spot {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 60px 60px rgba(255, 255, 255, 0.485);
}
